In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('coronadataset.csv')

In [3]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

### **Using Column Transformer**

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder
from sklearn.compose  import ColumnTransformer
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test,y_train,y_test = train_test_split(df.drop(columns=['Active']),
                                                 df['Active'],train_size=0.2)
x_test.shape,x_train.shape

((150, 14), (37, 14))

In [ ]:
transformer = ColumnTransformer(
    transformers=[
        ('tnf1', OrdinalEncoder(categories=[['Mild', 'Severe']]), ['Confirmed']),
        ('tnf2', OneHotEncoder(drop='first'), ['Recovered'])  # Specify column for OneHotEncoder
    ],
    remainder='passthrough'
)