In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [56]:
flightdf = sb.load_dataset('flights')

In [57]:
flightdf.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121

In [58]:
# flightdf = flightdf.pivot(index="month",columns="year",values="passengers")
# flightdf.head()

In [59]:
plt.figure(figsize=(12,6))
ax = sb.heatmap(flightdf,annot=True,fmt='d')

ValueError: could not convert string to float: 'Jan'

In [ ]:
caraccdf = sb.load_dataset('titanic')

In [ ]:
caraccdf.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
caraccdf.corr()

ValueError: could not convert string to float: 'male'

In [ ]:
plt.figure(figsize=(12,8))