In [46]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [47]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]

In [48]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [49]:
df.isnull().sum()

Age         177
Pclass        0
Fare          0
Survived      0
dtype: int64

In [50]:
x = df.drop(columns=['Survived'])
y = df['Survived']

In [51]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.2)

In [52]:
x_train.head()

      Age  Pclass     Fare
331  45.5       1  28.5000
733  23.0       2  13.0000
382  32.0       3   7.9250
704  26.0       3   7.8542
813   6.0       3  31.2750

In [53]:
x_train.shape, x_test.shape

((712, 3), (179, 3))

In [61]:
knn = KNNImputer(n_neighbors=5)
x_traintrf = knn.fit_transform(x_train)
x_testtrf  = knn.transform(x_test)

In [62]:
pd.DataFrame(x_traintrf,columns=x_train.columns)

      Age  Pclass      Fare
0    45.5     1.0   28.5000
1    23.0     2.0   13.0000
2    32.0     3.0    7.9250
3    26.0     3.0    7.8542
4     6.0     3.0   31.2750
..    ...     ...       ...
707  21.0     3.0    7.6500
708  39.0     1.0   31.0000
709  41.0     3.0   14.1083
710  14.0     1.0  120.0000
711  21.0     1.0   77.2875

[712 rows x 3 columns]

In [63]:
lr = LogisticRegression()
lr.fit(x_traintrf,y_train)
y_pred = lr.predict(x_testtrf)
accuracy_score(y_test,y_pred)

0.7430167597765364

In [66]:
si = SimpleImputer()
X_traintrf2 = si.fit_transform(x_train)
x_testtrf2 = si.transform(x_test)

In [67]:
lr = LogisticRegression()
lr.fit(x_traintrf,y_train)
ypred = lr.predict(x_testtrf2)
accuracy_score(y_test,ypred)

0.7486033519553073